.nav {
}
.nav__menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.nav__signup {
  margin-right: 30px;
  text-decoration: none;
  color: black;
}
.nav__signin {
  width: 76px;
  height: 32px;
  background-color: #000000;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 3px;
  align-items: center;
  text-decoration: none;
}
.nav__link:hover {
  opacity: 0.8;
}
