.heading {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0;
  border-bottom: 1px solid;
  padding-bottom: 23px;
}
