.greeting {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.greeting_profile {
  padding: 0;
}

.greeting__link {
  width: fit-content;
  align-self: flex-start;
  margin-bottom: 40px;
}

.greeting__logo {
  width: 38px;
  height: 38px;
  transition: opacity 0.3s ease;
}

.greeting__logo:hover {
  opacity: 0.8;
}

.greeting__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-align: start;
}

.greeting__text_profile {
  text-align: center;
}
